@import "../../index.scss";

.cover {
  .desc {
    h3 {
      @include fontSize("40");
      line-height: 40px;
      font-weight: 600;
      @media (max-width: 800px) {
        @include fontSize("30");
      }
    }
    h5 {
      @include fontSize("24");
      line-height: 40px;
      font-weight: 500;
      @media (max-width: 800px) {
        @include fontSize("18");
      }
    }
    p {
      @include fontSize("16");
      line-height: 28px;
      color: #191919c2;
      font-weight: 400;
      width: 50%;
      text-align: left;
      @media (max-width: 800px) {
        width: 100%;
        @include fontSize("14");
      }
      span {
        font-weight: 500;
        color: #191919de;
      }
    }
  }
  .coverImg {
    @include aspectRatio(36%, 2, hidden);
    @media (max-width: 800px) {
      @include aspectRatio(45%, 2, hidden);
    }
  }
}
