.mertics {
  padding: 24px;
  background-color: #f9fafb;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  div {
    &:last-child {
      border: none !important;
    }
  }
  @media (max-width: 992px) {
    padding: 12px;
    h6 {
      font-size: 14px;
    }
    h1 {
      font-size: 24px;
    }
  }
}
