.flowBadge {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 800;
    border: 1.4000000476837158px solid;
    max-width: 120px;
    width: 104px;
    height: 24px;
    background-color: #fff;
  }
}
