@import "../../index.scss";

.about {
  h2 {
    @include fontSize("30");
    line-height: 45px;
    letter-spacing: -0.75px;
    font-weight: 600;
    @media (max-width: 600px) {
      @include fontSize("24");
    }
  }
  p {
    letter-spacing: -0.4px;
    width: 80%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
