@use "../../sass/fonts" as fs;

.about {
  h2 {
    @include fs.fontSize("30");
    line-height: 45px;
    letter-spacing: -0.75px;
    font-weight: 600;
    @media (max-width: 600px) {
      @include fs.fontSize("24");
    }
  }
  p {
    letter-spacing: -0.4px;
  }
}
