@use "../../sass/fonts" as fs;
@use "../../sass/dynamics" as ut;

.card {
  @include ut.aspectRatio(60%, 2, visible);
  transition: transform 0.4s ease;
  p {
    position: absolute;
    left: 40px;
    bottom: 15px;
    letter-spacing: 0.9px;
    font-weight: 600;
    @include fs.fontSize("18");
    z-index: 4;
    @media (max-width: 600px) {
      left: 24px;
      bottom: 8px;
    }
  }
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease, background-color 0.2s ease;
    background-color: rgba(255, 255, 255, 0.9);
    @include fs.fontSize("14");
    letter-spacing: 0.8px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.77);
    }
    @media (max-width: 992px) {
      @include fs.fontSize("12");
    }
  }
  &:hover {
    button {
      opacity: 1;
    }
    transform: translateY(-3px);
  }
}
