// @use "../../sass/fonts" as fs;
@use "../../sass/dynamics" as ut;

.card {
  .cardImg {
    @include ut.aspectRatio(60%, 2, cover, visible);
  }
  .cardInfo {
    h4 {
      color: #000000;
    }
    p {
      color: #000000;
      @media (min-width: 1400px) {
        width: 85%;
      }
    }
  }
}
