@import "../../index.scss";

.card {
  @include aspectRatio(60%, 2, visible);
  p {
    position: absolute;
    bottom: 15px;
    left: 40px;
    letter-spacing: 0.9px;
    font-weight: 600;
    @include fontSize("18");
    z-index: 4;
  }
}
