@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

$theme-colors: (
  "primary": #2563eb,
);

$black: #191919;

$Fonts: (
  "12": 12px,
  "14": 14px,
  "16": 16px,
  "18": 18px,
  "20": 20px,
  "24": 24px,
  "30": 30px,
  "36": 36px,
  "40": 40px,
  // "48": 48px,
  // "60": 60px,
  // "72": 72px,,,,,,,,,,
);

// fix
$navbar-light-color: #19191985;
$navbar-light-active-color: $black;
$navbar-light-hover-color: $black;

body {
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: $black !important;
}

// dynamic get system fonts
@function Font($specificSize) {
  @return map-get($Fonts, $specificSize);
}

//dynamic font-size
@mixin fontSize($value) {
  font-size: Font($value);
}

// dynamic
@mixin aspectRatio($ratio, $zIndex, $overlay: hidden) {
  position: relative;
  padding-bottom: $ratio; // 50%, 60%, 80%, etc....
  img {
    background-color: #f3f3f3;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: $zIndex;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    visibility: $overlay; // by default overlay is hidden !! pass (visible) to show overlay
  }
}

@mixin present-spacing() {
  margin-top: 56px;
  margin-bottom: 56px;
  padding: 96px 0;
  @media (max-width: 800px) {
    margin: 0;
    padding: 64px 0;
  }
}

.present-heading {
  @include fontSize("24");
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 2.4px;
  @media (max-width: 600px) {
    @include fontSize("20");
  }
}

.present-subheading {
  @include fontSize("18");
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 1.8px;
  color: $black;
  @media (max-width: 600px) {
    @include fontSize("16");
  }
}

.present-p {
  @include fontSize("16");
  line-height: 28px;
  color: #191919c2;
  @media (max-width: 600px) {
    @include fontSize("14");
  }
}

@import "~bootstrap/scss/bootstrap";
