@use "../../sass/fonts" as fs;

.styledNav {
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  .Nav {
    .brand {
      text-decoration: none;
      color: #191919;
      .myName {
        font-weight: 600;
        @include fs.fontSize("24");
        letter-spacing: -0.6px;
        @media (max-width: 600px) {
          @include fs.fontSize("18");
        }
      }
      p {
        @include fs.fontSize("14");
        opacity: 0.7;
        font-weight: normal;
        @media (max-width: 600px) {
          @include fs.fontSize("12");
        }
      }
    }
    .navItems {
      li {
        span {
          @include fs.fontSize("14");
          letter-spacing: 0.7px;
          font-weight: 600;
          background: linear-gradient(currentColor 0 0) var(--p, 0) 100% /
            var(--d, 0) 3px no-repeat;
          transition: 0.3s, background-position 0s 0.3s;
          &:hover {
            --d: 100%;
            --p: 100%;
          }
        }
      }
    }
  }
}
