@use "../../sass/fonts" as fs;

.styledNav {
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  .Nav {
    .brand {
      text-decoration: none;
      color: #000000;
      transform: translateY(4px);
      @media (max-width: 992px) {
        transform: translateY(0);
      }
      .myName {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        @include fs.fontSize("24");
        @media (max-width: 600px) {
          @include fs.fontSize("18");
        }
      }
      p {
        @include fs.fontSize("14");
        opacity: 0.7;
        font-weight: normal;
        transform: translateY(-8px);
        @media (max-width: 600px) {
          @include fs.fontSize("12");
          transform: translateY(-4px);
        }
      }
    }
    .navItems {
      li {
        span {
          font-size: calc((1 - 1) * 1.2vw + 1rem);
          line-height: 1.8;
          font-weight: 500;
          background: linear-gradient(currentColor 0 0) var(--p, 0) 100% /
            var(--d, 0) 3px no-repeat;
          transition: 0.3s, background-position 0s 0.3s;
          &:hover {
            --d: 100%;
            --p: 100%;
          }
        }
      }
      .resume {
        @include fs.fontSize("14");
      }
    }
  }
}
